<div>User Info</div>
<div><%= @person[:user].email %></div>
<div>Tweets</div>
<div>
  <% @person[:tweets].each do |tweet| %>
      <div>
        <%= tweet.text %>
        <% if @person[:user] == current_user %>
            <%= form_tag(tweet_url(tweet), method: 'delete', remote: true, class: 'delete-tweet') do %>
                <%= submit_tag(:Delete) %>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>
<% if @person[:user] == current_user %>
    <%= t('people.yourprofile') %>
<% else %>

    <%= form_tag(follow_person_url(params[:id]), :id => 'follow', :remote => true) do %>
        <%= submit_tag t('people.follow'), :id => 'follow-button' %>
    <% end %>
    <%= form_tag(follow_person_url(params[:id]), :method => 'delete', :id => 'unfollow', :remote => true) do %>
        <%= submit_tag t('people.unfollow'), :id => 'unfollow-button' %>
    <% end %>
    <%# inline some js here to show/hide the appropiate button %>
    <script type="text/javascript">
        $('<%= current_user.following?(@person[:user]) ? '#follow-button' : '#unfollow-button' %>').hide()
    </script>
<% end %>

<div>
  <% if current_user == @person[:user] %>You are
      <% else %><%= "#{params[:id]} is" %>
  <% end %> following these users
  <% @person[:following].each do |f| %>
      <% user_handle = f.email.slice 0, f.email.index('@') %>
      <div><%= link_to user_handle, user_handle %></div>
  <% end %>
</div>
<div>
  These users are following
  <% if current_user == @person[:user] %>you
      <% else %><%= params[:id] %>
  <% end %>
  <% @person[:followers].each do |f| %>

      <% user_handle = f.email.slice 0, f.email.index('@') %>
      <div><%= link_to user_handle, user_handle %></div>
  <% end %>
</div>