<!DOCTYPE html>
<html>
<head>
  <title>MyFirstRails</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-error"><%= alert %></p>
<% end %>
<% if user_signed_in? %>

    <%=  link_to t('navigation.home'), root_path %>
    <%=  link_to t('navigation.people'), people_path %>
    <%=  link_to t('navigation.tweet'), tweets_path %>
    <%= link_to(t('navigation.logout'), destroy_user_session_path, :method => :delete) %>

    <%= form_for Tweet.new, {:url => {controller: "tweets", action: "create"}, :remote => true} do |f| %>
        <%= f.text_field :text %>
        <%= f.submit t('tweet'), {id: 'submit-tweet'} %>
    <% end %>
<% end %>
<%= yield %>

</body>
</html>
